{$DASHBOARD_HOST} {
	log stdout {
		format console
	}

	reverse_proxy "/telemetry" 127.0.0.1:{$TELEMETRY_PORT}

	reverse_proxy 127.0.0.1:{$DASHBOARD_PORT} {
		header_up x-stats-bucket {$MEDIA_BUCKET}
	}
}

{$MINIO_CONSOLE_HOST} {
	reverse_proxy 127.0.0.1:{$MINIO_CONSOLE_PORT}
}

{$MINIO_API_HOST} {
	reverse_proxy 127.0.0.1:{$MINIO_API_PORT}
}
