<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default={Scouter.name()}>
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/dashboard.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/dashboard.js"}>
    </script>
    <script type="importmap">
      {
        "imports": {
          "@hotwired/stimulus": "/js/@hotwired/stimulus@3.2.2.js",
          "@github/hotkey": "/js/@github/hotkey@3.1.1/index.js",
          "controllers/hotkey": "/js/dashboard/hotkey_controller.js",
          "controllers/service": "/js/dashboard/service_controller.js"
        }
      }
    </script>
    <script phx-track-static defer type="module" src={~p"/js/dashboard.js"}>
    </script>
  </head>
  <body class="font-mono text-base bg-zinc-100/30">
    {@inner_content}
  </body>
</html>
