@import "tailwindcss";

[data-phx-root-id] {
	display: contents;
}

@font-face {
	font-family: "Berkeley Mono";
	src: url(/fonts/berkeley-mono-regular.woff2) format("woff2");
}

@theme {
	--font-mono: "Berkeley Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, "Liberation Mono", "Courier New", monospace;
	--text-base: 14px;
}

section[data-tabs] {
	& > form > header > h2:has(input:checked) {
		background-color: var(--color-zinc-100);
	}

	& section[data-tab] {
		background-color: var(--color-zinc-100);
		box-shadow: 4px 5px 0px 0px var(--color-zinc-200);
	}

	&:has(> form > header > h2:nth-of-type(1) > label > input:checked) {
		& > section:nth-of-type(1) {
			display: block;
		}
	}

	&:has(> form > header > h2:nth-of-type(2) > label > input:checked) {
		& > section:nth-of-type(2) {
			display: block;
		}
	}

	&:has(> form > header > h2:nth-of-type(3) > label > input:checked) {
		& > section:nth-of-type(3) {
			display: block;
		}
	}

	&:has(> form > header > h2:nth-of-type(4) > label > input:checked) {
		& > section:nth-of-type(4) {
			display: block;
		}
	}

	&:has(> form > header > h2:nth-of-type(5) > label > input:checked) {
		& > section:nth-of-type(5) {
			display: block;
		}
	}
}

meter {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	margin: 0 auto 1em;

	/* Applicable only to Firefox */
	background: none;
	background-color: transparent;
}

meter::-webkit-meter-optimum-value {
	background: var(--color-lime-500);
}

meter::-webkit-meter-bar {
	/* background: none; */
}

fieldset {
	& > legend {
		letter-spacing: 0.125ch;
		text-transform: uppercase;
		text-rendering: optimizelegibility;
	}
	& dt {
		text-transform: uppercase;
	}
}

input:where([type="checkbox"], [type="radio"]) {
	-webkit-appearance: none;
	appearance: none;
	width: 0.75lh;
	height: 0.75lh;
	color: var(--color-zinc-300);
	border-style: solid;
	border-width: 1.2px;

	box-shadow: 1px 1px 0px 0px var(--color-zinc-300);
	vertical-align: text-top;
	background: var(--color-zinc-50) no-repeat center center;
}

input[type="radio"] {
	border-radius: 50%;
}

input:where([type="checkbox"], [type="radio"]):where(
		:active:not(:disabled),
		:focus
	) {
	border-color: var(--color-zinc-400);
	outline: none;
}

input:where([type="checkbox"], [type="radio"]):disabled {
	background: #eee;
}

input:where([type="checkbox"], [type="radio"]):checked {
	color: var(--color-lime-600);
	background-color: var(--color-lime-400);
	/* border-color: var(--color-lime-600); */
}
