@import url("/css/meter.css") layer(meter);
@import url("/css/inputs.css");
@import "tailwindcss" source(none);
@source "../../lib/components.ex";
@source "../../lib/dashboard";
@source "./dashboard.css";
@source "../../priv/static/css/meter.css";
@source "../../priv/static/css/inputs.css";

[data-phx-root-id] {
	display: contents;
}

@font-face {
	font-family: "Berkeley Mono";
	src: url(/fonts/berkeley-mono-regular.woff2) format("woff2");
}

@theme {
	--text-base: 14px;
	--font-mono: ui-monospace, "Berkeley Mono", SFMono-Regular, Menlo, Monaco,
		Consolas, "Liberation Mono", "Courier New", monospace;
}

section[data-tabs] {
	& > form > header > h2:has(input:checked) {
		background-color: var(--color-zinc-100);
	}

	& section[data-tab] {
		background-color: var(--color-zinc-100);
		box-shadow: 4px 5px 0px 0px var(--color-zinc-200);
	}

	&:has(> form > header > h2:nth-of-type(1) > label > input:checked) {
		& > section:nth-of-type(1) {
			display: block;
		}
	}

	&:has(> form > header > h2:nth-of-type(2) > label > input:checked) {
		& > section:nth-of-type(2) {
			display: block;
		}
	}

	&:has(> form > header > h2:nth-of-type(3) > label > input:checked) {
		& > section:nth-of-type(3) {
			display: block;
		}
	}

	&:has(> form > header > h2:nth-of-type(4) > label > input:checked) {
		& > section:nth-of-type(4) {
			display: block;
		}
	}

	&:has(> form > header > h2:nth-of-type(5) > label > input:checked) {
		& > section:nth-of-type(5) {
			display: block;
		}
	}
}

fieldset {
	& > legend {
		letter-spacing: 0.125ch;
		text-transform: uppercase;
		text-rendering: optimizelegibility;
	}
	& dt {
		text-transform: uppercase;
	}
}
