<div class="grid grid-cols-1 place-items-center h-screen grid-rows-[1fr_max-content]">
  <div class="flex flex-col items-center gap-y-[1lh]">
    <span>Not Found</span>
    <a href={homepage()}>
      <span class="px-1 uppercase border border-black hover:text-white hover:bg-black tracking-[0.2ch] shadow-[2px_2px_0px_0px] shadow-zinc-400/40 bg-zinc-50">
        homepage
      </span>
    </a>
  </div>
</div>
